* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  flex-direction: column;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(243, 243, 243);
}

.main {
  width: 100%;
  height: 95%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.phone {
  display: none;
}

.login {
  width: 100%;
  height: 100%;
  display: flex; /* Visualizar o item */
  align-items: center; /* horizontal */
  justify-content: center; /* vertical */
  flex-direction: column;
}

.insta-name {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: center;
  border: 1px solid lightgray;
  border-bottom: none;
  margin-bottom: 0;
}

.instagram-logo {
  height: 2.5rem;
}

.content-change {
  width: 100%;
  height: min-content;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-top: none;
}

.continue {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: none;
}

.continue-content {
  width: 100%;
}

.altern {
  width: 100%;
  height: min-content;
  display: flex;
  padding: 1rem 0;
  border: 1px solid lightgray;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.profile-photo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
  overflow: hidden;
  border: 1px solid lightgray;
  border-top: none;
  margin-bottom: 10px;
}

.profile-photo img {
  width: 15em;
  height: 15em;
  border-radius: 100%;
}

.lin-or-lout {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.instagram-login {
  margin: 10px 0;
  background-color: #0095f6;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
}

.instagram-logout {
  margin: 5px 0;
  color: #0095f6;
}

.not-account {
  color: rgb(160, 160, 160);
}

.link-blue {
  color: #0095f6;
}

.download {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  border: 1px solid lightgray;
}

.download-title {
  width: 100%;
  height: 50%;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-apps {
  width: 100%;
  height: 50%;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.app-download {
  width: 9rem;
  height: 3em;
  margin: 0 5px;
  background-size: cover;
  border-radius: 10px;
}

.app-download:nth-child(1) {
  background-image: url("./img/apple-button.png");
}

.app-download:nth-child(2) {
  background-image: url("./img/googleplay-button.png");
}

/*
Other
*/

.other {
  width: 100vw;
  padding: 0 20%;
  height: 50vh;
  display: none;
  align-items: center;
  justify-content: center;
}

.other-main {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid lightgray;
}

.other-logo,
.btn {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.other .instagram-logo {
  height: 50px;
  margin: 15px 0;
}

.form {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  width: 60%;
  height: 10%;
  margin: 15px 0;
  border-radius: 3px;
  border: 1px solid lightslategray;
  padding: 1px 5px;
}

.btn-lg {
  margin: 5px 0;
  background-color: #0095f6;
  color: #ffffff;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 16px;
}

.btn-fb {
  margin: 5px 0;
  color: #0095f6;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 16px;
}

footer {
  width: 99vw;
  height: 5%;
  padding: 0 0 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* media queries */
@media screen and (min-width: 769px) {
  .main {
    padding: 10px 10%;
  }
  .login {
    width: 50%;
    max-width: 30rem;
  }

  .phone {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .phone img {
    height: 50rem;
  }

  /*
  .login {
    width: 50vw;
    padding: 0;
    min-height: 40rem;
  }

  .content-change {
    width: 70%;
  }

  .other {
    width: 50vw;
    padding: 0;
    min-height: 40rem;
  }

  .form {
    width: 80%;
  }

  form {
  }
  */
}

@media screen and (max-width: 768px) {
  .login {
    width: 65%;
  }
}

@media screen and (max-width: 480px) {
  .login {
    width: 100%;
  }
}
